dtf-home {
	.inputRow {
		display: flex !important;
		& > * {
			flex-grow: 1;
		}
	}
	.submit {
		margin-top: 3rem;
		display: block;
		width: 100%;
		background-color: var(--background-color);
		height: 3rem;
		border: 2px solid var(--font-color);
		border-radius: 1rem;
		font-size: 1.5rem;
	}
	
	.clear {
		margin-top: 3rem;
		display: block;
		width: 100%;
		background-color: var(--background-color);
		height: 3rem;
		border: 2px solid var(--font-color);
		border-radius: 1rem;
		font-size: 1.5rem;
	}

	.qual_match_number {
  width: 200px;
  height: 100px;
  background-color: hsl(122, 217, 154);
  border: 4px solid hsl(145, 40, 22);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.qual_match {
  color: lch(145, 40, 22);
  font-size: 18px;
  margin-bottom: 5px;
}

.qual_number {
  width: 60px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: hsl(145, 40, 22);
  background-color: transparent;
  border: none;
  outline: none;
}
.rounded-box {
  width: 100%;
  max-width: 500px;
  height: 60px;
  background-color: transparent;
  border: 3px solid #8b2318; /* Matching the border to the text */
  border-radius: 15px; /* This creates the pill shape */
  outline: none;
}
.inputRow {
		display: flex !important;
		& > * {
			flex-grow: 1;
		}
	}
	.input__number {
	 input[type=number] {
		appearance: textfield;
		flex-grow: 1;
		height: 100%;
		padding: 0px;
		border: 0px;
		text-align: center;
		display: block;
		width: 100%;
		box-sizing: border-box;
		font-size: 2rem;
	}
	br {
		display: block;
		width: 100%;
	}
	& > number-input-container, & > div {
		height: 3rem;
		border: 2px solid var(--font-color);
		border-radius: 1rem;

		&:has(input:focus) {
			border: 2px solid var(--color-active-text);
			outline: 1px solid var(--color-active-text);
		}
		& > .changeButton {
			width: max(5rem, 5%);
			height: 100%;
			font-size: 2rem;
			padding: 0px;
			display: block;
			border: 0px;
			background-color: transparent;
			color: var(--font-color);

			&.changeButton__increment {
				border-left: 2px solid var(--font-color);
			}
			&.changeButton__decrement {
				border-right: 2px solid var(--font-color);
			}
		}
	}
}
.input__select {
	select {
		display: block;
		width: 100%;
		background-color: var(--background-color);
		border: 2px solid var(--font-color);
		appearance: none;
		border-radius: 1rem;
		height: 3rem;
		text-align: center;
		font-size: 1.5rem;

		&[multiple] {
			height: auto;
			/* overflow: hidden; */

			&:not(:has(:not(option[disabled][hidden]))) {
				height: 2rem;
			}
		}
	}
}
.input__checkbox {
	input[type=checkbox] {
		appearance: none;
		height: 3rem;
		padding: 0px;
		border: 2px solid var(--font-color);
		text-align: center;
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 0px;
		border-radius: 1rem;

		&:checked {
			background-color: var(--color-success);
			&::after {
				content: 'Yes';
			}
		}
		&:not(:checked) {
			background-color: var(--color-failure);
			&::after {
				content: 'No';
			}
		}
		&::after {
			text-align: center;
			vertical-align: bottom;
			display: inline;
			font-size: 2.5rem;
		}
	}
}
.input__textarea {
	textarea {
		resize: vertical;
		background-color: var(--background-color);
		width: 100%;
		border: 2px solid var(--font-color);
		box-sizing: border-box;
		border-radius: 1rem;
		padding: 0.5rem;
		text-align: center;
		font-weight: bold;
		min-height: 4rem;
		height: 15rem;

		&:focus-visible {
			outline: none;
		}
	}
}

.tabButton, .submitButton, .clear {
	width: 50%;
	height: auto;
	border: 2px solid var(--font-color) !important;
	border-radius: 10px;
	background-color: var(--background-color);
	font-size: 2rem !important;
	color: var(--font-color) !important;
	text-align: center !important;
	margin-top: 1%;
}
}
