home-router {
	.homeButton {
		font-size: 18pt;
		height: 6rem;
		border: 2px solid var(--font-color);
		border-radius: 20px;
		color: var(--font-color);
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 2rem;

		&:hover {
			background-color: var(--color-hover);
			transition: background-color 0.1s linear;
		}
	}
}
