match-scout {
	.input_checkbox {
		width: 100%;
		border: 2px solid var(--font-color) !important;
		border-radius: 25px;
		background-color: red;
		font-weight: bold;
		color: var(--font-color) !important;
		text-align: center !important;
	}
	.inputRow {
		display: flex !important;
		& > * {
			flex-grow: 1;
		}
	}
	.fieldTitle {
		text-align: center;
		width: 100%;
	}
	.noShowButton {
		width: 100%;
		height: 3rem;
		font-size: 1rem;
		background-color: var(--background-color);
		color: var(--font-color);
		border: 2px solid var(--font-color);
		border-radius: 1rem;
		margin: 5% auto auto;
	}
	.overrideOptions {
		border: 2px solid var(--font-color);
		border-radius: 1rem;
		margin-top: 1rem;
		/* height: 3rem; */
		font-size: 1.5rem;
		padding: 0.5rem 1rem;

		summary:hover {
			cursor: pointer;
		}
	}
}
