pit-lookup {
	.booleanValue {
		display: block;
		width: 100%;
		height: 100px;
		border: 2px solid var(--font-color);
		border-radius: 25px;
	}
	.booleanValue__true {
		background-color: #00ff00;
	}
	.booleanValue__false {
		background-color: #ff0000;
	}
	.centered {
		display: flex;
		align-items: center;
	}
	.pitImage {
		max-width: 100%;
	}
}
