pit-lookup {
	.booleanValue {
		display: block;
		width: 100%;
		height: 100px;
		border: 2px solid var(--font-color);
		border-radius: 25px;
	}
	.booleanValue__true {
		background-color: #00ff00;
	}
	.booleanValue__false {
		background-color: #ff0000;
	}
	.centered {
		display: flex;
		align-items: center;
	}
	.pit-comments {
		width: 100%;
		min-width: 100%;
		height: 200px !important;
		min-height: 200px !important;
		border: 2px solid var(--font-color) !important;
		border-radius: 25px;
		background-color: #32A7DC;
		font-weight: bold;
		color: var(--font-color) !important;
		text-align: center !important;
		background: transparent !important;
	}
	.pitImage {
		max-width: 90vw;
	}
}
