scouting-app-router {
	.mainButton {
		font-size: 18pt;
		height: 4rem;
		border: 2px solid var(--font-color);
		border-radius: 20px;
		color: var(--font-color);
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 2rem;

		&:hover {
			background-color: var(--color-hover);
		}
		&:active {
			background-color: var(--color-active);
		}
	}
}
