:root {
	--background-color: #32a7dc;
	--background-color: #000000;
	--font-color: #ffffff;
	--color-failure: #ff0000;
	--color-success: #00ff00;
	--color-active-text: #0000ff;
	--color-hover: oklch(from var(--background-color) calc(sign(l - 0.5) * -0.05 + l) c h);
	--color-active: oklch(from var(--background-color) calc(sign(l - 0.5) * -0.1 + l) c h);
}

* {
	font-family: Arial, sans-serif;
	color: var(--font-color);
}
body {
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	color: var(--font-color);
	background-color: var(--background-color);
	min-height: 100vh;
}
@media (aspect-ratio >= 1/1) and (width >= 80vh) and (height >= 800px) {
	body {
		max-width: 80vh
	}
}

#root {
	width: 100%;
	height: 100%;
}

h2 {
	color: var(--font-color);
	margin-bottom: 0;
	margin: 0;
}
h3 {
	color: var(--font-color);
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: var(--font-color);
}

footer {
	margin-top: 0px;
}
.tabButton, .submitButton {
	width: 50%;
	height: auto;
	border: 2px solid var(--font-color) !important;
	border-radius: 10px;
	background-color: var(--background-color);
	font-size: 2rem !important;
	color: var(--font-color) !important;
	text-align: center !important;
	margin-top: 1%;
}
