:root {
	--background-color: #32a7dc;
	--background-color: #000000;
	--font-color: #ffffff;
	--color-failure: #ff0000;
	--color-success: #00ff00;
	--color-active-text: #0000ff;
	--color-hover: oklch(from var(--background-color) calc(sign(l - 0.5) * -0.05 + l) c h);
	--color-active: oklch(from var(--background-color) calc(sign(l - 0.5) * -0.1 + l) c h);
}

* {
	/*font-family: Audiowide;*/
	font-family: Arial, sans-serif;
	color: var(--font-color);
}
body {
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	color: var(--font-color);
	background-color: var(--background-color);
	min-height: 100vh;
}
@media (aspect-ratio >= 1/1) and (width >= 80vh) and (height >= 800px) {
	body {
		max-width: 80vh
	}
}

#root {
	width: 100%;
	height: 100%;
}

form:has(+ footer) {

}

h2 {
	color: var(--font-color);
	margin-bottom: 0;
	margin: 0;
}
h3 {
	color: var(--font-color);
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: var(--font-color);
}
.ant-upload, .ant-upload-select {
	width: 100%;
}
.ant-upload-list-item-name {
	color: var(--font-color);
}
.anticon-paper-clip, .ant-checkbox-inner, .anticon, .ant-tooltip, .ant-checkbox > div, .ant-wave {
	display: none !important;
}
.ant-upload-list-item-actions {
	padding-right: 5%;
}
.ant-tabs-ink-bar {
	height: 5px;
}
.ant-tabs-ink-bar-animated {
	transition: 0.25s;
}
input[type="number"]::-webkit-inner-spin-button, .ant-input-number-handler-wrap {
	opacity: 0.0;
}
.ant-input {
	background-color: transparent;
}
.ant-form-item-control-input {
	height: fit-content;
}
.ant-input-number {
	background-color: var(--background-color);
	color: var(--font-color);
	text-align: center;
}
.ant-tabs-tab, .ant-tabs-tab-active{
	color: var(--font-color);
}
.ant-checkbox-checked, .ant-checkbox-wrapper-checked {
	background-color: #61f761;
	border-color: #000000;
	width: 100%;
	border-radius: 5px;
}
.ant-input-number-input {
	color: var(--font-color);
	text-align: center;
	padding: 0px;
}
.ant-form-item-explain-error {
	color: red;
	text-align: center;
}
.ant-select-item-option-content {
	text-align: center;
	color: black;
}
.ant-select-selection-placeholder, .ant-select-selection-item {
	min-height: 100%;
	color: var(--font-color);
	align-items: center;
	display: inline-flex;
	justify-content: center;
	padding-right: 0px;
}
.ant-select-selector {
	width: 100%;
	background-color: transparent;
	border: 0px transparent;
	text-align: center;
}
.ant-input-number-group-addon {
	padding: 0px;
}
.ant-checkbox, .ant-checkbox-wrapper {
	width: 100% !important;
	display: block !important;
}

.ant-tabs-nav-wrap::before, .ant-tabs-nav-wrap::after {
	display: none !important;
}
.ant-input-wrapper.ant-input-group {
	display: flex !important;
	height: 100% !important;

	& > *, & .changeButton {
		width: auto;
		height: 100% !important;
	}
	& > input {
		flex-grow: 1;
	}
}
.input-wrapper {
	display: block !important;
	flex-grow: 1 !important;
}
footer {
	margin-top: 0px;
}
.tabButton, .submitButton {
	width: 50%;
	height: auto;
	border: 2px solid var(--font-color) !important;
	border-radius: 10px;
	background-color: var(--background-color);
	font-size: 2rem !important;
	color: var(--font-color) !important;
	text-align: center !important;
	margin-top: 1%;
}
